/*
	The footer uses its own version of the grid because it follows different rules on mobile views.
*/

#footer {
	margin: 0 auto;
	clear: both;
	color: $colorSecondary;

	h2, h3 {
		text-align: center;
		margin: 0;
		font-size: $hundred*1.5;
	}

	p {
		margin: 0;
	}

	.column {
		padding: 0.6em 0;
	}

	.row:nth-child(2) {
		align-items: stretch;
		padding: 0.5em 0;
	}

	.column:nth-child(odd) {
		background: lighten($color1, 25%);
	}

	.column:nth-child(even) {
		background: lighten($color1, 35%);
	}
}

section.hours {
	text-align: center;
}

p.hours_time {
	padding: 0.5em 0;
}

section.icon {
	text-align: center;

	img {
		width: 66px;
		height: 64px;
		border-radius: 32px;
		padding: 3px;
		background: $colorSecondary;
	}
}

section.copyright {
	text-align: center;
}

address.footer_address {
	text-align: center;
}

section.footer_phone {
	text-align: center;
	padding-bottom: 1em;
}
