<<<<<<< HEAD
section.about p:not(.hours_time) {
=======
section.about p {
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
	text-align: justify;
	text-justify: inter-word;
}

<<<<<<< HEAD
section.about p{
	line-height: $hundred*1.5;
}

=======
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
#about_navigation {
	padding: 0;
	margin: 0 auto;
	width: $hundred;

	li {
		margin: 1em auto;
		display: inline-block;
		width: $hundred*0.49;
		list-style-type: none;
		border-radius: 1em;
		@extend %navigationGradient;

		a {
			display: block;
			padding: 0.5em;
			text-align: center;
			font-weight: 800;
			color: $colorSecondary;
		}
	}
}

<<<<<<< HEAD
.about_featured-image {
	text-align: center;
}

=======
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
.gallery_image,
.gallery_spacing {	
	width: 274px;
	height: 200px;
}

.gallery_image {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: sepia($hundred);
	transition: all 0.2s ease-in;
	
	&:hover {
		filter: sepia(0%);
		transform: scale(1.1);
	}
}

.gallery_spacing {
	margin: 0 auto;
	overflow: hidden;
	
	a {
		display: block;
	}
}

address.location_address {
	padding: 1em 0;
}

<<<<<<< HEAD
section.about_stage-setup {
	object {
		overflow: hidden;
	}
}

=======
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
section.testimonial {
	padding: 0 1em;
}

.testimonial_image {
<<<<<<< HEAD
	margin: 1em 0;
	flex: 0 0 30% !important;
}

.hours_time p,
.about_hours {
	text-align: center;
=======
	flex: 0 !important;
	margin: 1em 0;
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
}

@media only screen and (min-width: $tabletWidth) {

	#about_navigation {
		display: flex;
		justify-content: center;
		
		li {
			flex-grow: 1;
			display: block;
<<<<<<< HEAD
			margin: 0 1em;
=======
			margin: 1em;
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
		}
	}

	.gallery_spacing {
		margin: 0.225em;
	}
<<<<<<< HEAD


	.about_featured-image {
		float: left;
		padding-right: 1.2em;
	}
=======
>>>>>>> 7b8fa3dc106727de504c15bb5eaac298df4f42bc
}